 body {
    color: orange;
    font-family: 'Times New Roman';
    text-align: center;  
    background-color:black;
 }


 div{
    margin-top: 100px ;
 }

 #heading {
    text-decoration: underline;
    font-size: 3em;
    
 }
 
  #timer{
    font-size: 2.8em;
} 

.btn {
    color: #00FFDB;  
    border: solid 4px;
    border-radius: 10px;
    padding: 16px 40px;
    letter-spacing: 2px;
  }

  #start{
    border-color: #194306;
    background-color: #48633B;
  }
  
  #stop{
    border-color:rgb(246, 3, 3);
    background-color: rgb(150, 52, 52);
  }

  #reset{
    background-color: grey;
    border-color:rgb(57, 37, 37);
  }
